.account {
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account h2 {
  padding: 5%;
}

.account__name {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.account__id {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.account__timeline, .account__past-orders {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2% 0;
  width: 90%;
}

.account__timeline__event, .account__past-orders__order {
  background-color: #f1f1f1;
  border: 5px double #333;
  color: #333;
  padding: 2%;
  margin: auto;
  width: 50%;
}
