.bag {
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 5%;
}

.bag__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7%;
  width: 100%;
}

.bag__contents__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f1f1f1;
  border: 5px double #333;
  color: #333;
  padding: 3%;
  width: 100%;
}

.bag__subtotal, .bag__tax, .bag__total {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.bag__btn {
  display: flex;
  justify-content: flex-end;
  margin: 7% 0 2%;
  width: 60%;
}

.bag__btn button {
  font-family: 'Press Start 2P', cursive;
  border: 5px double #333;
  padding: 2% 4%;
}

.bag__past-orders {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2% 0;
  width: 90%;
}

.bag__past-orders__order {
  background-color: #f1f1f1;
  border: 5px double #333;
  color: #333;
  padding: 2%;
  margin: auto;
  width: 50%;
}

.divider {
  background-color: #f1f1f1;
  content: '';
  height: 2px;
  margin: 1%;
  width: 60%;
}

@media (max-width: 700px) {
  .bag__subtotal, .bag__tax, .bag__total {
    width: 90%;
  }

  .divider {
    width: 95%;
  }
}
