main {
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  border: 0.7em solid #c7a008;
  border-radius: 5px;
  margin: 3%;
  width: 60%;
}

.card-row {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

.card-row img {
  background-color: #f1f1f1;
  border: 0.5em solid #c7a008;
  border-radius: 5px;
  padding: 2% 3%;
  width: 55%;
}

.description {
  font-weight: 100;
  line-height: 1.5;
}

#hp {
  width: 100%;
  background-color: #ddd;
}

#hp-bar {
  width: 3.5em;
  height: 3em;
  background-color: #04AA6D;
  text-align: center;
  line-height: 3em;
  color: white;
}

@media (max-width: 700px) {
  .card {
    width: 90%;
  }

  .card-row {
    flex-direction: column;
    align-items: center;
  }
}
