:root {
  --fire: #FDDFDF;
  --grass: #DEFDE0;
  --electric: #FCF7DE;
  --water: #DEF3FD;
  --ground: #f4e7da;
  --rock: #d5d5d4;
  --fairy: #fceaff;
  --poison: #98d7a5;
  --bug: #f8d5a3;
  --dragon: #97b3e6;
  --psychic: #eceda1;
  --flying: #F5F5F5;
  --fighting: #E6E0D4;
  --normal: #F5F5F5;
}


main {
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  border: 0.7em solid #c7a008;
  border-radius: 5px;
  margin: 3%;
  width: 60%;
}

.card-row {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

.card-row img {
  background-color: #f1f1f1;
  border: 0.5em solid #c7a008;
  border-radius: 5px;
  padding: 2% 3%;
  width: 55%;
}

@media (max-width: 650px) {
  .card {
    width: 90%;
  }

  .card-row {
    flex-direction: column;
    align-items: center;
  }
}
