main {
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  border: 0.7em solid #c7a008;
  border-radius: 5px;
  margin: 3%;
  width: 60%;
}

.card-row {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

.card-row img {
  background-color: #f1f1f1;
  border: 0.5em solid #c7a008;
  border-radius: 5px;
  padding: 2% 3%;
  width: 55%;
}

@media (max-width: 650px) {
  .card {
    width: 90%;
  }

  .card-row {
    flex-direction: column;
    align-items: center;
  }
}
