body {
  /* font-family: 'Inconsolata', monospace; */
  font-family: 'Press Start 2P', cursive;
  background-color: #003A70;
  margin: 0;
}

header, footer {
  color: #FFCB05;
  display: flex;
  justify-content: center;
}

nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav ul li {
  padding: 0.5% 1.5%;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #FFCB05;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

main {
  margin: 1%;
}

.first-row, .second-row, .third-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1%;
}

.pokemon {
  background-color: #f1f1f1;
  border: 1px solid #111;
  width: 20%;
  text-align: center;
  padding: 5%;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    padding: 1.5%;
  }

  .first-row, .second-row, .third-row {
    flex-direction: column;
    align-items: center;
  }

  .pokemon {
    width: 90%;
  }
}
